################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Ii]nstaller/

*.csproj.user
.idea/.idea.Healthcare.Api
.vs/
/.vs
/Healthcare.Api/.vs
/Healthcare.Api/bin/Debug/net6.0
/Healthcare.Api/obj
/Healthcare.Api.Core/bin/Debug/net6.0
/Healthcare.Api.Core/obj
/Healthcare.Api.Repository/bin/Debug/net6.0
/Healthcare.Api.Repository/obj/Debug/net6.0
/Healthcare.Api.Repository/obj
/Healthcare.Api.Service/bin/Debug/net6.0
/Healthcare.Api.Service/obj